body {
    font-family: sans-serif;
    background-color: #06510F;
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: left;
    width: 55%;
}

.warning {
    color: crimson;
}

.card {
    border-radius: 10px !important;
    background-color: beige;
    padding: 0ex 1ex 0ex 1ex;
    width: 70ex;
}