body {
    font-family: sans-serif;
    background-color: #06510F;
}

.left {
    float: left;
    width: 30%;
}

.right {
    float: left;
    width: 55%;
}

.warning {
    color: crimson;
}

.cardscontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.card {
    border-radius: 10px !important;
    background-color: beige;
    padding: 1ex 1ex 1ex 1ex;
    margin: 5px !important;
    width: 65ex;
    height: 20ex;
    position: relative;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

.scroll3lines {
    overflow: auto;
    height: 7ex;
}
