body {
    font-family: sans-serif;
    background-color: #06510F;
    margin: 0;
}

.warning {
    color: crimson;
}

.accordion-title {
    position: relative;
    display: block;
    background-color: #cad4d8;
    padding: 10px;
}

.accordion-title:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.accordion-panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
}

.tab-row {
    display: flex;
    background-color: #7b929e;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.tab-row > span {
    padding: 10px;
}

.tab-row > .selected {
    font-weight: bolder;
}

.separator {
    display: flex;
    background-color: #7b929e;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cardscontainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.question {
    background-color: white;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.card {
    border-radius: 10px !important;
    background-color: beige;
    padding: 1ex 1ex 1ex 1ex;
    margin: 5px !important;
    width: 600px;
    height: 20ex;
}

.c-frame {
    border-radius: 10px !important;
    background-color: beige;    
    padding: 0;
    display: block;
    overflow: hidden;
}

.c-header {
    padding: 10px;
    background-color:#ede1b5;    
    font-weight: bold;
}

.c-body {
    padding: 10px;
    position: relative;
}

.c-body > div {
		display: block; 
}

.closebutton {
    float: right;
}

.closebutton:hover,
.closebutton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.c-small
{
	width: 260px;
	height:160px;
	margin: 5px !important;
}
.c-medium
{
	width: 395px;
	height:243px;
	margin: 5px !important;
}
.c-big
{
	width: 600px;
	height:270px;
	margin: 5px !important;
}

.topright {
    position: absolute;
    top: 10px;
    right: 10px;
}

.image-default {
    max-width: 200px;
    max-height: 150px;
    float: right;
    vertical-align: top;
    margin-bottom: 10px;
}

.image-small {
    max-width: 120px;
    max-height: 120px;
    float: right;
    vertical-align: top;
    margin-bottom: 10px;
}

.leftofimage {
    width: 390px;
    vertical-align: top;
    display: inline-block;
}

.scroll2lines {
    overflow: auto;
    height: 5ex;    
}

.scroll3lines {
    overflow: auto;
    height: 7ex;    
}

.scroll6lines {
    overflow: auto;
    height: 14ex;
}

h4 {
    margin-top: 3px;
    margin-bottom: 10px;
}

.modal-overlay {
    position: fixed !important;
    background-color: hsla(0, 0%, 7%, .7) !important;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.modal-frame {
    margin: 100px auto auto auto;
}

.tile-header {
    width: 100%
}

.flex-row {
    display: flex;
    align-items: center;
}

.flex-grows {
    flex-grow: 10;
}

.separated {
	margin-top: 10px;
}

.clear {
 clear: both;
}
.button{
    padding: 5px 10px 5px 10px;
    background-color: #cad4d8;
}

.button:focus {
    text-decoration: none;
    cursor: pointer;
}