body {
	background-color: #06510F;
	color: #EBB88A;
	font-family: sans;
	padding-left:1ex;
	padding-rigth:1ex;
}
    ul {
        list-style: none;
    }
    
    li {
        margin-bottom: 5px;
    }
    
    div[id=cardContainer] {
        width: 1100px;
    
    }
    
    .highDetail {
        display: inline-block;
        width: 500px;
        height: 300px;
        margin: 5px
    }
    .answered {
        color:red;
    }
    
    

