body {
	background-color: #06510F;
	color: #0F0000;
	font-family: sans;
	padding-left:1ex;
	padding-rigth:1ex;
}
    ul {
        list-style: none;
    }
    
    li {
        margin-bottom: 5px;
    }
    
    ul[id=cardContainer] {
    	width: 100%;
        float: left;
    }
    
    .c-card
    {
		border-radius: 10px !important;
    }
    
    .highDetail {
        	margin: 5px !important;
        display: inline-block;
        width: 500px;
        height: 280px;
	}
    .lowDetail {
        	margin: 5px !important;
        display: inline-block;
        width: 333px;
        height: 140px;
    }
    
    

    .highDetail img {
    	float: right;
    	margin-top: 7px;
        max-width: 250px;
        max-height: 230px;
    }
    
    .c-overlay img{
        max-width: 320px;
        max-height: 400px;
    }
    
    .smaller
    {font-size: 0.85em
    }
    
    .answered {
        color:red;
    }
    
    .width300
    {
    	max-width: 330px;
    	padding-left: 5px
    }
    
    .o-modal {
position: fixed !important;
		border-radius: 10px !important;
}
.c-overlay {
position: fixed !important;
}
    

