<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<title>Spielkartensammlung</title>
<meta name="description" content="">
<meta name="author" content="DrTTom">
<!-- meta name="viewport" content="width=device-width, initial-scale=1"-->
<link rel="stylesheet" href="libs/blaze@3.2.0.css" />
<link rel="stylesheet" href="cards.css" />
</head>

<body>
	<!-- Main View -->
	<div id="app">
		<ul class="c-nav c-nav--inline">
			<li class="c-nav__item">Datei</li>
			<li class="c-nav__item">Suche</li>
			<li class="c-nav__item">Basisdaten</li>
			<li class="c-nav__item">Werkzeuge</li>
			<li class="c-nav__item c-nav__item--right">Hilfe</li>
		</ul>
		<menue></menue>
		<questions></questions>
		<cardlist></cardlist>
		<deck_full></deck_full>
		<p>Ende der Seite. Karten nicht anfassen, nicht dem Sonnenlicht
			aussetzen!</p>
	</div>

	<!-- HTML for components/questions.js <questions> (Shows the current active Question and offers a textinputfield)-->
	<script type="text/x-template" id="questionsTemplate">
	<div>
    <div class="c-card c-card--accordion u-high" v-for="group in questionGroups">
       <input type="checkbox" v-bind:id="group.name">       
       <label class="c-card__item" v-bind:for="group.name">{{group.name}}</label>
       <div class="c-card__item">
          <div v-for="currentQuestion in group.elements"> 
             <div class="left">{{currentQuestion.text}}</div>
             <div class="right">
                <input v-if="typeof currentQuestion.allowedValues =='undefined'" type="text" v-model="currentQuestion.value" v-on:keypress="answerQuestion" 
                       v-bind:title="currentQuestion.helptext"/>
                <select v-if="typeof currentQuestion.allowedValues !='undefined'"  v-model="currentQuestion.value" v-on:change="answerQuestion">
                   <option v-for="val in currentQuestion.allowedValues">{{val}}</option>
                </select>
             </div>
             <div class="clear"/>
          </div>
         <input type="submit" value="Weiter"/>
       </div>
       </div>
     </div>
    </script>

	<!-- HTML for components/cardList.js <cardlist> (Overview over all found cards)-->
	<script type="text/x-template" id="cardListTemplate">
        <div>
            <h2>{{numberPossible}} mögliche, {{numberMatching}} wahrscheinliche Ergebnisse:</h2>
            <ul id="cardContainer">
                <deck_tile v-for="card in allCards" :data="card" :size="itemClass"></deck_tile>
            </ul>
    </script>

   <script type="text/x-template" id="deck_tileTemplate">
      <li class="c-card u-high" v-bind:class="size" v-on:click="showFullDetails">
         <div class="c-card__item c-card__item--divider" > {{data.primKey}}. {{data.attributes.name}}
            <span v-if="data.attributes.maker && size=='bigTile'">({{data.attributes.maker}})</span>
         </div> 
         <div class="o-grid">
            <div class="o-grid__cell smaller">
               <p>
                  <span v-if="data.attributes.maker && size=='smallTile'">Hersteller: {{data.attributes.maker}}</br></span>
                  {{data.attributes.numberCards}} Karten</br>
                  Format: {{data.attributes.format}}</br>
                  Index: {{data.attributes.index}}</br>
                  <span v-if="size=='bigTile'">Anzahl Index: {{data.attributes.numIndex}}</span>
               </p>
               <span v-if="size=='bigTile'">
                  <p v-if="data.attributes.designer">Entwurf {{data.attributes.designer}}</p>
                  <p v-if="data.attributes.printedLatest">Gedruckt spätestens {{data.attributes.printedLatest}}</p>
               </span>
            </div>
            <div class="o-grid__cell" v-if="size=='bigTile'">
               <img v-if="data.attributes.image" v-bind:src="'http://localhost:4567/download/'+data.attributes.image" />
            </div>
         </div>
      </li>
   </script>

   <script type="text/x-template" id="deck_fullTemplate">
      <div v-if="visible"  class="c-overlay">
         <div class="o-modal">
            <div class="c-card">
               <header class="c-card__header c-card__item--divider">
                  <button type="button" class="c-button c-button--close" v-on:click="hide">×</button>
                  <h2 class="c-heading">{{data.primKey}}. {{data.attributes.name}} </h2>
               </header>
               <div class="c-card__body">
                  <div class="o-grid">
                     <div class="o-grid__cell">
                        <p>
                           {{data.attributes.numberCards}} Karten</br>
                           Farben: {{data.attributes.suits}}</br>
                           <span v-if="data.attributes.pattern">Bild: {{data.attributes.pattern}}</br></span>
                           Format: {{data.attributes.format}}</br>
                           Auge des Königs: {{data.attributes.specialMeasure}}</br>
                           Index: {{data.attributes.index}}</br>
                           Anzahl Index: {{data.attributes.numIndex}}
                        </p>
                        <p>
                           <span v-if="data.attributes.maker">Hersteller: {{data.attributes.maker}}</br></span>
                           <span v-if="data.attributes.designer">Entwurf {{data.attributes.designer}}</span>
                        </p>
                          <p v-if="data.attributes.printedLatest || data.attributes.printedEarliest">Gedruckt 
                          <span v-if="data.attributes.printedEarliest"> frühestens {{data.attributes.printedEarliest}}</span>
                          <span v-if="data.attributes.printedLatest"> spätestens {{data.attributes.printedLatest}}</span>
                          </p>
                          <p>
                          <span v-if="data.attributes.bought">Erworben {{data.attributes.bought}},</span> {{data.attributes.condition}}, <br/>befindet sich in {{data.attributes.location}}</p>
                          <p>{{data.attributes.remark}}</p>
                        </div>
                        <div class="o-grid__cell width300">
                           <img v-if="data.attributes.image" v-bind:src="'http://localhost:4567/download/'+data.attributes.image" />
                        </div>
                    </div>
                    <footer class="c-card__footer">
                       <button type="button" class="c-button c-button--brand">Bearbeiten</button>
                    </footer>
             </div>
         </div>
      </div>
   </script>

	<!-- Vue Js Framework and Resource Loader -->
	<script src="libs/vue.min.js"></script>
	<script src="libs/vue-resource.min.js"></script>

	<!-- Contains all named events -->
	<script src="cardEvents.js"></script>

	<!-- Custom Vue Components -->
	<script src="components/questions.js"></script>
	<script src="components/cardList.js"></script>
	<script src="components/deckTile.js"></script>
	<script src="components/fullDeck.js"></script>

	<!-- Main Application -->
	<script src="main.js"></script>
</body>

</html>
