<!DOCTYPE html>
<html lang="de">
<head>
<meta charset="utf-8">
<title>Spielkartensammlung</title>
<meta name="description" content="">
<meta name="author" content="DrTTom">
<!-- meta name="viewport" content="width=device-width, initial-scale=1"-->
<link rel="stylesheet" href="libs/blaze@3.2.0.css" />
<link rel="stylesheet" href="cards.css" />
</head>

<body>
	<!-- Main View -->
	<div id="app">
		<ul class="c-nav c-nav--inline">
			<li class="c-nav__item">Datei</li>
			<li class="c-nav__item">Suche</li>
			<li class="c-nav__item">Basisdaten</li>
			<li class="c-nav__item">Werkzeuge</li>
			<li class="c-nav__item c-nav__item--right">Hilfe</li>
		</ul>
		<menue></menue>
		<questions></questions>
		<cardlist></cardlist>
		<deck_full></deck_full>
		<p>Ende der Seite. Karten nicht anfassen, nicht dem Sonnenlicht
			aussetzen!</p>
	</div>

	<!-- HTML for components/questions.js <questions> (Shows the current active Question and offers a textinputfield)-->
	<script type="text/x-template" id="questionsTemplate">
	<div>
    <div class="c-card c-card--accordion u-high" v-for="(group, index) in questionGroups">
       <input type="checkbox" v-bind:id="'group'+index" v-model="groupVisible[index]"/>
       <label class="c-card__item" v-bind:for="'group'+index">{{group.name}}</label>
       <div class="c-card__item">
          <span v-for="currentQuestion in group.elements">
             <div v-if="!currentQuestion.alignWithPrevious" class="newLine"> </div>
             <div class="questionBlock">
             <div class="left">{{currentQuestion.text}}</div>
             <div>
                <input v-if="currentQuestion.type=='Text'" type="text" v-model="currentQuestion.value" 
                       v-bind:size="currentQuestion.cols"
                       v-on:change="answerQuestion" v-on:focus="enableUpdate" v-on:mouseout="enableUpdate" v-on:keypress="enableUpdate" 
                       v-bind:title="currentQuestion.helptext"/>
                <select v-if="currentQuestion.type=='TextChoice'"  v-model="currentQuestion.value" 
                        v-on:change="answerQuestion" v-on:focus="enableUpdate" v-on:keypress="enableUpdate" >
                   <option v-for="val in currentQuestion.allowedValues">{{val}}</option>
                </select>
                <imagechoice :question="currentQuestion" v-if="currentQuestion.type=='ImageChoice'"></imagechoice>
                <input type="file" v-if="currentQuestion.type=='File'" v-on:change="uploadFile" />
                <label v-if="currentQuestion.problem" style="color: darkred;">{{currentQuestion.problem}}</label>
             </div>
             </div>
          </span>
          <div class="newLine"> </div>
         <input v-if="index+1<questionGroups.length" class="c-button c-button--brand" type="submit" value="Weiter" v-on:click="next(index)"/>
         <input v-if="index+1==questionGroups.length && nextAction=='check'" class="c-button c-button--brand" type="submit" value="Prüfen und neu anlegen" v-on:click="check"/>
         <input v-if="index+1==questionGroups.length && nextAction=='submit'" class="c-button c-button--brand" type="submit" value="Speichern" v-on:click="store"/>
       </div>
     </div>
     </div>
    </script>

	<script type="text/x-template" id="questionTemplate">
      <div>
          <div class="left">{{data.text}}</div>
             <div class="right">
                <input v-if="typeof data.allowedValues =='undefined'" type="text" v-model="data.value" 
                       v-on:change="answerQuestion" v-on:focus="enableUpdate" v-on:mouseout="enableUpdate" v-on:keypress="enableUpdate" 
                       v-bind:title="data.helptext"/>
                <select v-if="typeof data.allowedValues !='undefined'"  v-model="data.value" 
                        v-on:change="answerQuestion" v-on:focus="enableUpdate" v-on:keypress="enableUpdate" >
                   <option v-for="val in data.allowedValues">{{val}}</option>
                </select>
                <label v-if="data.problem" style="color: darkred;">{{data.problem}}</label>
             </div>
             <div class="clear"/>
      </div>
    </script>
    
	<!-- HTML for components/cardList.js <cardlist> (Overview over all found cards)-->
	<script type="text/x-template" id="cardListTemplate">
        <div>
            <h2>{{numberPossible}} mögliche, {{numberMatching}} wahrscheinliche Ergebnisse:</h2>
            <ul id="cardContainer">
                <deck_tile v-for="card in allCards" :data="card" :size="itemClass"></deck_tile>
            </ul>
    </script>

   <script type="text/x-template" id="deck_tileTemplate">
      <li class="c-card u-high" v-bind:class="size" v-on:click="showFullDetails">
         <div class="c-card__item c-card__item--divider" > {{data.primKey}}. {{data.attributes.name}}
            <span v-if="data.attributes.maker && size=='bigTile'">({{data.attributes.maker}})</span>
         </div> 
         <div class="o-grid">
            <div class="o-grid__cell smaller">
               <p>
                  <span v-if="data.attributes.maker && size=='smallTile'">Hersteller: {{data.attributes.maker}}</br></span>
                  {{data.attributes.numberCards}} Karten</br>
                  Format: {{data.attributes.format}}</br>
                  Index: {{data.attributes.index}}</br>
                  <span v-if="size=='bigTile'">Anzahl Index: {{data.attributes.numIndex}}</span>
               </p>
               <span v-if="size=='bigTile'">
                  <p v-if="data.attributes.designer">Entwurf {{data.attributes.designer}}</p>
                  <p v-if="data.attributes.printedLatest">Gedruckt spätestens {{data.attributes.printedLatest}}</p>
               </span>
            </div>
            <div class="o-grid__cell" v-if="size=='bigTile'">
               <img v-if="data.attributes.image" v-bind:src="'http://localhost:4567/download/'+data.attributes.image" />
            </div>
         </div>
      </li>
   </script>

   <script type="text/x-template" id="deck_fullTemplate">
      <div v-if="visible"  class="c-overlay">
         <div class="o-modal">
            <div class="c-card">
               <header class="c-card__header c-card__item--divider">
                  <button type="button" class="c-button c-button--close" v-on:click="hide">×</button>
                  <h2 class="c-heading">{{data.primKey}}. {{data.attributes.name}} </h2>
               </header>
               <div class="c-card__body">
                  <div class="o-grid">
                     <div class="o-grid__cell">
                        <img class="taxStamp" v-if="taxStamp.attributes" v-bind:src="'http://localhost:4567/download/'+taxStamp.attributes.image" 
                                v-bind:title="'Steuerstempel '+taxStamp.attributes.issuer+
                                ',\n verwendet '+taxStamp.attributes.from+ '  bis ' +taxStamp.attributes.to"/>
                        <div>
                           <p>
                             {{data.attributes.numberCards}} Blatt, Format {{data.attributes.format}}</br>
                             Farbzeichen: {{data.attributes.suits}}</br>
                             <span v-if="data.attributes.t_pattern">Bild: {{data.attributes.t_pattern}}</br></span>
                           </p>
                           <p>
                              Index: {{data.attributes.index}}</br>
                              Anzahl Index: {{data.attributes.numIndex}} </br>
                              Auge des Königs bei: {{data.attributes.specialMeasure}}</br>
                           </p>
                        </div>
                        <div class="clear"/>
                        <img class="makerSign" v-if="makerSign && makerSign.attributes" v-bind:src="'http://localhost:4567/download/'+makerSign.attributes.image" 
                                  v-bind:title="'Firmenzeichen '+makerSign.attributes.from+ ' - ' +makerSign.attributes.to"/>
                        <p>
                           <span v-if="maker.attributes">Hersteller: {{maker.attributes.name}}, {{maker.attributes.place}}</br></span>
                           <span v-if="data.refMaker">Produktbezeichnung: {{data.refMaker}}</br></span>
                           <span v-if="data.attributes.designer">Entwurf {{data.attributes.designer}}</span>
                        </p>
                        <p v-if="data.attributes.printedLatest || data.attributes.printedEarliest">Gedruckt
                          <span v-if="data.attributes.printedEarliest"> frühestens {{data.attributes.printedEarliest}}</span>
                          <span v-if="data.attributes.printedLatest"> spätestens {{data.attributes.printedLatest}}</span>
                          <span v-if="data.refCat">siehe {{data.refCat}}</br></span>
                        </p>
                        <p>{{data.attributes.remark}}</p>
                        <p>
                          <span v-if="data.attributes.bought">Erworben {{data.attributes.bought}},</span> 
                            {{data.attributes.condition}}, befindet sich in {{data.attributes.location}}
                        </p>
                     </div>
                     <div class="o-grid__cell width300">
                        <img v-if="data.attributes.image" v-bind:src="'http://localhost:4567/download/'+data.attributes.image" />
                        <div class="centerbox" v-if="!data.attributes.image && pattern.attributes && pattern.attributes.image">
                              Bild ähnlich:
                              <img v-bind:src="'http://localhost:4567/download/'+pattern.attributes.image"/>
                         </div>
                     </div>
                  </div>
                  <footer class="c-card__footer">
                     <button type="button" class="c-button c-button--brand">Bearbeiten</button>
                     <button type="button" class="c-button c-button--brand">Kopieren</button>
                  </footer>
               </div>
            </div>
        </div>
   </script>

	<!-- Vue Js Framework and Resource Loader -->
	<script src="libs/vue.min.js"></script>
	<script src="libs/vue-resource.min.js"></script>

	<!-- Contains all named events -->
	<script src="collectionEvents.js"></script>

	<!-- Custom Vue Components -->
	<script src="components/questions.js"></script>
	<script src="components/cardList.js"></script>
	<script src="components/deckTile.js"></script>
	<script src="components/fullDeck.js"></script>
	<script src="components/imageChoice.js"></script>

	<!-- Main Application -->
	<script src="main.js"></script>
</body>

</html>
